
CREATE OR REPLACE FUNCTION public.check_sscbs_email()
RETURNS TRIGGER
SECURITY DEFINER
SET search_path = public, auth
AS \$\$
BEGIN
    IF NEW.email NOT LIKE '%@sscbs.du.ac.in' AND NEW.email != 'two19labs@gmail.com' THEN
        RAISE EXCEPTION 'Access Denied: Only @sscbs.du.ac.in emails are allowed.';
    END IF;
    RETURN NEW;
END;
\$\$;

